<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="https://unpkg.com/vue"></script>
  <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script>
    let listClient = <%- JSON.stringify(listClient) %>
    const objectTrue = [];

    listClient.forEach((value, index) => {
      if (value.text != null) {
        objectTrue.push({ 'text': value.text, 'id': value.id })

      }
    })
  </script>

</head>

<div id="header" class="container">
  <h1 class="title">{{ message }}</h1>
</div>

<div id="app" class="col-md-4 col-md-offset-4">

  <div class="sender">
    <form class="form-inline">
      <div class="form-group">
        <p class="input-container">
          <input type="text" id="yourText" v-model="message" class="simple-text">
          <label for="input-username" id="labeltext" unselectable="on">Enter your text here</label>
        </p>
      </div>
      <button v-on:click="appendToList(message)" class="btn btn-primary">Send</button>
    </form>

    

  </div>


  <table class="table table-hover">
    <tbody name="fadee" is="transition-group">

      <tr v-for="(todo, index) in todos" v-bind:key="todo.text" class="fadee">
        <td class="todo-number">{{ index+1 }}</td>
        <td class="todo-text">{{ todo.text }}</td>
        <td class="todo-buttom">
          <button v-on:click="removeFromList(index, todo.id)" class="btn btn-danger">Remove</button>
        </td>
      </tr>

      </transition-group>
  </table>

</div>

<script src="js/vue.js"></script>
<script src="js/scripts.js"></script>