.fadee-enter-active, .fadee-leave-active {
    transition: opacity .5s
  }
  .fadee-enter, .fadee-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0
  }

.title{
    font-family: 'Anton', sans-serif;    
    text-align: center;
    font-size: 40px;
  }

.todo-text{
  font-family: 'Anton', sans-serif;    
  text-align: left;
  font-size: 20px;

}

  .sender{
    margin-bottom: 100px;
  }

  #app{
      text-align: center;
  }

  table{
    border-bottom: 1px solid #ddd;
    
  }

  .todo-number{
    font-family: 'Anton', sans-serif;    
    text-align: left;
    font-size: 20px;
    border-left: 1px solid #ddd;
  }

  .todo-buttom{
    border-right: 1px solid #ddd;
  }
  
.btn-primary{
  margin-top: 50px;
}


  p.input-container {
    width: 100%; 
    position: relative;
    top: 50px;
    margin-bottom: 25px;
  }
  
  label {
    color: #CCC;
    position: absolute; 
    cursor: text;
    transform: translateY(-25px);
    transition: transform 0.3s ease;
    left: 0;
    bottom: -15px;
  }
  
  input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    transition: 0.6s;
    border: none;
    border-bottom: 1px solid #CCC;
    background-color: transparent;
  }

  input:focus{
    outline: none;
    border-bottom: 1px solid #204d74;
  }
  

  .animation label {
    transform: translateY(-55px);
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .animation-color label {
    color: #204d74;
  }